@charset "utf-8";
@import url('../css/reset.css');
@import 'design';
html,
body {
  height: 100%;
}
body {
  font: 14px/1.4 Arial, sans-serif;
}
#header-bg {
  width: 100%;
  .header {
    max-width: $width-1;
    height: 70px;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 40px;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    // .util-menu {
    //   position: absolute;
    //   top: 0;
    //   right: 40px;
    //   li {
    //     float: left;
    //     ~ li {
    //       padding-left: 15px;
    //     }
    //   }
    // }
  }
}
#gnb {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  justify-content: space-around;
  > li {
    float: left;
    position: relative;
    &:nth-of-type(4) {
      margin-left: 180px;
    }
    a {
      display: block;
      height: 70px;
      line-height: 70px;
      font-size: 15px;
      font-weight: bold;
      color: $fontColor-1;
    }
    > ul {
      display: none;
      position: absolute;
      width: 900px;
      background: #000;
      top: 70px;
      left: 0;
      li {
        float: left;
        a {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}
#container {
  .bg-slide {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .bg-slide-1 {
      width: 100%;
      height: 100%;
      background: url('../images/main/bg-im-1.png') no-repeat center top;
      background-size: 2000px 938px;
    }
    .bg-slide-2 {
      width: 100%;
      height: 100%;
      background: url('../images/main/bg-im-2.png') no-repeat center top;
      background-size: 2000px 938px;
    }
    .bg-slide-3 {
      width: 100%;
      height: 100%;
      background: url('../images/main/bg-im-3.png') no-repeat center top;
      background-size: 2000px 938px;
    }
    .bg-slide-4 {
      width: 100%;
      height: 100%;
      background: url('../images/main/bg-im-4.png') no-repeat center top;
      background-size: 2000px 938px;
    }
  }
}
